@if (loading()) {
  <p class="state-msg">Laden…</p>
} @else if (error()) {
  <p class="state-msg state-msg--error">{{ error() }}</p>
} @else {
  <table class="data-table">
    <thead>
      <tr>
        <th>Nr.</th>
        <th>Anpfiff</th>
        <th>Start</th>
        <th>Saison</th>
      </tr>
    </thead>
    <tbody>
      @for (item of items(); track item.id) {
        <tr>
          <td>{{ item.number }}</td>
          <td>{{ item.kickoff_date }}</td>
          <td>{{ item.start_date }}</td>
          <td>{{ item.season_id }}</td>
        </tr>
      }
    </tbody>
  </table>
}
