<nav class="pill-nav pill-nav--sticky pill-nav--last" appStuck>
  <a class="pill" routerLink="sammelalbum" routerLinkActive="pill--active">Sammelalbum</a>
  <a class="pill" routerLink="klebebande" routerLinkActive="pill--active">Klebebande</a>
  <a class="pill" routerLink="shop" routerLinkActive="pill--active">Shop</a>
  <a class="pill" routerLink="tausch" routerLinkActive="pill--active">
    Tauschbörse
    @if (tradesIncoming() > 0) { <span class="pill__badge pill__badge--always">{{ tradesIncoming() }}</span> }
  </a>
  @if (isMaintainer()) {
    <a class="pill" routerLink="simulation" routerLinkActive="pill--active">Simulation</a>
  }
</nav>

<router-outlet />
