<nav class="nav">
  <div class="nav-header">
    <a routerLink="/">
      <img src="img/logos/die-bestesten.png" class="nav-logo squircle" alt="Logo" />
    </a>
    <div class="flex-col">
      <a class="manager" [routerLink]="managerId ? ['/manager', managerId] : null">{{ managerName }}</a>
      <a class="team" [routerLink]="teamId() ? ['/team', teamId(), 'uebersicht'] : null">{{ teamName() }}</a>
    </div>
  </div>

  <hr class="nav-divider" />

  <ul class="nav-mobile">
    @for (item of mobileNavItems(); track item.label) {
      <li>
        <a class="nav-item" [routerLink]="item.route" routerLinkActive="nav-item--active">
          <app-icon [name]="item.icon" class="nav-icon"></app-icon>
          <span class="nav-label">{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>

  <div class="nav-groups-top">
    @for (group of topGroups(); track group.label) {
      <div class="nav-group">
        @if (group.label) {
          <span class="nav-group-label">{{ group.label }}</span>
        }
        <ul class="nav-items">
          @for (item of group.items; track item.label) {
            <li>
              <a class="nav-item" [routerLink]="item.route" routerLinkActive="nav-item--active">
                <app-icon [name]="item.icon" class="nav-icon"></app-icon>
                <span class="nav-label">{{ item.label }}</span>
                @if (item.warning) {
                  <img src="img/icons/warning.png" class="nav-warning-icon" alt="" />
                }
              </a>
            </li>
          }
        </ul>
      </div>
    }
  </div>

  <div class="nav-groups-bottom">
    @for (group of bottomGroups(); track group.label) {
      <div class="nav-group">
        @if (group.label) {
          <span class="nav-group-label">{{ group.label }}</span>
        }
        <ul class="nav-items">
          @for (item of group.items; track item.label) {
            <li>
              <a class="nav-item" [routerLink]="item.route" routerLinkActive="nav-item--active">
                <app-icon [name]="item.icon" class="nav-icon"></app-icon>
                <span class="nav-label">{{ item.label }}</span>
                @if (item.warning) {
                  <img src="img/icons/warning.png" class="nav-warning-icon" alt="" />
                }
              </a>
            </li>
          }
        </ul>
      </div>
    }
  </div>
</nav>
