<h1 class="page-title">Data Management</h1>

<nav class="sub-nav">
  <a class="sub-nav-item" routerLink="country" routerLinkActive="sub-nav-item--active">Länder</a>
  <a class="sub-nav-item" routerLink="club" routerLinkActive="sub-nav-item--active">Clubs</a>
  <a class="sub-nav-item" routerLink="season" routerLinkActive="sub-nav-item--active">Saisons</a>
  <a class="sub-nav-item" routerLink="matchday" routerLinkActive="sub-nav-item--active"
    >Spieltage</a
  >
  <a class="sub-nav-item" routerLink="player" routerLinkActive="sub-nav-item--active">Spieler</a>
</nav>

<router-outlet></router-outlet>
