@if (loading()) {
  <p class="state-msg">Laden…</p>
} @else if (error()) {
  <p class="state-msg state-msg--error">{{ error() }}</p>
} @else {
  <table class="data-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Kürzel</th>
        <th>Land</th>
      </tr>
    </thead>
    <tbody>
      @for (item of items(); track item.id) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.short_name }}</td>
          <td>{{ item.country_id }}</td>
        </tr>
      }
    </tbody>
  </table>
}
